div#root {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.step-content {
  align-self: flex-start;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}